:root {
    --nvidia-groen: #76B900;
    --amd-rood: #ED1C24;
    --intel-blauw: #00C7FD;
    --donkere-achtergrond: #121212;
    --text: #FFFFFF;
    --achtergrond: #282828;
    --zwart: #000000;
    --schaduw: rgba(118, 185, 0, 0.4); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar {
    display: flex;
    height: 80px;
    width: 100%;
    background: #2c3e50;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.navbar .logo {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.navbar .text{
    color: var(--text);
    text-align: center;
    size: 60px;
}


.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 5px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.navbar ul li a.active:hover{
    background: #0a5e96;
}

.navbar ul li a.nvidia:hover {
    background: var(--nvidia-groen) !important;
    color: #fff;
}

.navbar ul li a.amd:hover {
    background: var(--amd-rood) !important;
    color: #fff;
}

.navbar ul li a.intel:hover {
    background: var(--intel-blauw) !important;
    color: #fff;
}

.navbar ul li a.active2{
    background: #0a5e96;
}

.navbar ul li a.active3{
    background: var(--nvidia-groen);
}

.navbar ul li a.active4{
    background: var(--amd-rood);
}

.navbar ul li a.active5{
    background: var(--intel-blauw);
}



#click, .menu-btn {
    display: none;
}
.menu li{
    padding: 4px;

}


@media (max-width: 900px) {
    .navbar {
        padding: 0 30px;
    }
    
    .menu-btn {
        display: block;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }

    .navbar ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #34495e;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.4s ease;
    }


    #click:checked ~ ul {
        left: 0;
    }

    .navbar ul li {
        margin: 40px 0;
    }

    .navbar ul li a {
        font-size: 20px;
        display: block;
    }
    

}

.jaartal-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;
}

@media (max-width: 950px) {
    .jaartal-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 630px) {
    .jaartal-container {
        grid-template-columns: 1fr;
    }
}

.jaartalamd {
    border: 2px solid var(--amd-rood);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: block;
}

.jaartalnvidia {
    border: 2px solid var(--nvidia-groen);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: block;
}

.jaartalintel {
    border: 2px solid var(--intel-blauw);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: block;
}

.content {
  padding: 20px;
  text-align: center;
  margin: auto;
  width: 80%;
  font-size: 20px;
}
.content img{
        width: 100%;
    height: auto;
    
}


@media (max-width: 950px) {
  .content {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    width: 100%;
  }

  h2 {
    font-size: 22px;
  }
}
